{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grid-container" style="height: 80vh;">
    <div class="grid-header">
        <button id="toggle-button" class="btn btn-warning mx-2" onclick="toggleButton()">Élet</button>    </div>
    <div class="grid-sidebar" id="email-list">
        <!-- A kártyák ide fognak kerülni dinamikusan -->
    </div>
    <div class="grid-main">
{% comment %}         <div class="oloader-container"><div class="oloader"></div></div> {% endcomment %}
    </div>
    <div class="grid-footer">
        <textarea id="custom-textarea" class="form-control" rows="2" placeholder="Kérlek röviden foglald össze a történteket a levelek alapján."></textarea>
    </div>
</div>

<input type="hidden" id="csrf_token" value="{{ csrf_token }}"/> <!-- CSRF token -->

<script src="{% static 'organization/life.js' %}"></script>  <!-- Life.js -->
<script src="{% static 'organization/workEvent.js' %}"></script>  <!-- WorkEvent.js -->
<script src="{% static 'js/mailHandler.js' %}"></script>
<script src="{% static 'js/aiHandler.js' %}"></script>

{% endblock %}


