.full-screen-container {

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 100vh; /* teljes képernyőmagasság */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Két oszlop: 1/3 arányban */
    grid-template-rows: 80px 1fr 80px; /* A fejléc és az alsó doboz magasságának növelése */
    height: 80vh; /* Teljes képernyőmagasság */
    gap: 10px; /* Távolság a dobozok között */
}

.grid-header {
    grid-column: 1 / span 2; /* A fejléc két oszlopon keresztül terjed */
    background-color: white;
    display: flex;
    align-items: center; /* Vertikális középre igazítás */
    padding-left: 10px; /* Hézag a bal oldalon a gombokhoz */
    
    border-radius: 8px; /* Lekerekített élek */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Árnyék */
}


.grid-sidebar {
    grid-row: 2 / span 2; /* Az oldalsó menü a második és harmadik sorban helyezkedik el, teljes magasságban */
    background-color: white;


    overflow-y: auto; /* Engedélyezzük a függőleges görgetést */
    max-height: 90vh; /* Az oldalsáv magasságát korlátozzuk a képernyő 90%-ára */
    padding-right: 5px; /* Jobb oldali padding a görgetősávnak */
    border-radius: 8px; /* Lekerekített élek */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Árnyék */
}

.grid-sidebar::-webkit-scrollbar {
    width: 5px; /* Vékony görgetősáv */
}

.grid-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Halvány görgetősáv */
    border-radius: 10px; /* Lekerekített görgetősáv */
}

.grid-sidebar::-webkit-scrollbar-track {
    background-color: transparent; /* Átlátszó háttér a pályán */
}


.grid-main {
    grid-row: 2 / 3; /* Fő tartalom a második sorban a jobb oldalon */
    background-color: white;
    border-radius: 8px; /* Lekerekített élek */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Árnyék */
    height: 100%; /* A fő tartalom kitölti a rendelkezésre álló helyet */
    padding: 20px;
}

.grid-footer {
    grid-row: 3 / 4; /* Az alsó doboz a harmadik sorban a fő tartalom alatt */
    background-color: white;
    border-radius: 8px; /* Lekerekített élek */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Árnyék */
    display: flex;
    align-items: center; /* Vertikális középre igazítás */
    padding-left: 10px; /* Hézag a bal oldalon a gombokhoz */
}

.mail-card {
    background-color: #f8f9fa;
    margin: 10px;
    border-radius: 8px; /* Kisebb, finom lekerekítés */
    padding: 4px; /* Szűkebb padding */
    margin-bottom: 4px; /* Szűkebb margin */
    display: flex;
    flex-direction: column;
    max-width: 250px; /* Szűkebb kártya */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* Finom 1px árnyék */
}


.mail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px; /* Kisebb távolság a címek között */
}

.mail-sender {
    font-weight: bold;
    font-size: 0,8em; /* Kisebb betűméret */
}

.mail-date {
    font-size: 0.5em; /* Kisebb betűméret a dátumnak */
    color: #999;
}

.mail-subject {
    font-weight: bold;
    color: #007bff; /* Primary piros szín */
    margin-bottom: 4px; /* Kisebb margó */
}

.subject-text {
    font-size: 0.6em; /* Kisebb betűméret */
}

.mail-content {
    font-size: 0.6em; /* Kisebb betűméret a tartalomhoz */
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Szülő elem a loader középre helyezéséhez */
.oloader-container {
    display: flex;
    justify-content: center;  /* Horizontális középre igazítás */
    align-items: center;      /* Vertikális középre igazítás */
    height: 100%;             /* A szülő elem magasságát használja */
    width: 100%;              /* A szülő elem szélességét használja */
}
/* HTML: <div class="loader"></div> */
.oloader {
    height: 40px;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #007bff;
    box-shadow: 0 0 0 0 #007bff;
    animation: l2 1.5s infinite linear;
    position: relative;
    border-top: 3px dotted #f00000;
  }
  .oloader:before,
  .oloader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 #0004;
    animation: inherit;
    animation-delay: -0.5s;
  }
  .oloader:after {
    animation-delay: -1s;
  }
  @keyframes l2 {
      100% {box-shadow: 0 0 0 40px #0000}
  }