<!-- file: templates/index.html -->
{% extends 'base.html' %}

{% block title %}Home - OCP Intranet{% endblock %}

{% block content %}
<div>
    <h2>Welcome to OCP Intranet</h2>
    <p>
        Üdvözöljük az OCP Intranet oldalán! Itt hozzáférhet a vállalat összes fontos információjához és erőforrásához. Fedezze fel a különböző szekciókat, hogy naprakész és kapcsolatban maradjon csapatával.
    </p>
    <p>
        Ha bármilyen segítségre van szüksége, kérjük, lépjen kapcsolatba az IT osztállyal, vagy tekintse meg a súgó szekciót.
    </p>
    <a href="#">Learn More</a>
</div>
{% endblock %}
